Repository ffflorian/node-packages: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{json,md,yml}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    oxlint:
      glob: 'packages/**/*.ts'
      run: npx oxlint --fix {staged_files} && git add {staged_files}

fix jszip tests
  packages/jszip-cli/src/BuildService.test.ts
Due: oxlint

revert .github dir
  .github/workflows/codeql.yml
Due: prettier

use recursive for mkdir
  packages/electron-icon-generator/src/index.ts
  packages/electron-info/src/ElectronInfo.test.ts
  packages/jszip-cli/src/ExtractService.ts
  packages/jszip-cli/src/FileService.ts
  packages/jszip-cli/src/JSZipCLI.test.ts
  packages/publish-flat/src/copyJson.ts
Due: oxlint

feat: Remove fs-extra (#977)
  packages/electron-icon-generator/package.json
  packages/electron-icon-generator/src/index.ts
  packages/electron-info/package.json
  packages/electron-info/src/ElectronInfo.test.ts
  packages/jszip-cli/package.json
  packages/jszip-cli/src/BuildService.test.ts
  packages/jszip-cli/src/BuildService.ts
  packages/jszip-cli/src/ExtractService.ts
  packages/jszip-cli/src/FileService.ts
  packages/jszip-cli/src/JSZipCLI.test.ts
  packages/jszip-cli/src/cli.ts
  packages/publish-flat/package.json
  packages/publish-flat/src/PublishFlat.ts
  packages/publish-flat/src/copyJson.ts
  yarn.lock
Due: prettier, oxlint

refactor(jszip-cli): Use async/await
  packages/jszip-cli/src/BuildService.test.ts
  packages/jszip-cli/src/BuildService.ts
  packages/jszip-cli/src/JSZipCLI.ts
Due: oxlint

add missing await
  packages/jszip-cli/src/cli.ts
Due: oxlint

refactor(jszip-cli): Use async/await (#1039)
  packages/jszip-cli/src/BuildService.test.ts
  packages/jszip-cli/src/BuildService.ts
  packages/jszip-cli/src/JSZipCLI.ts
  packages/jszip-cli/src/cli.ts
Due: oxlint

feat: Remove axios
  packages/my-timezone/package.json
  packages/my-timezone/src/MyTimezone.ts
  yarn.lock
Due: prettier, oxlint

less axios
  packages/electron-info/package.json
  packages/electron-info/src/HTTPService.ts
  yarn.lock
Due: prettier, oxlint

remove axios from electron-info
  packages/auto-merge/package.json
  packages/auto-merge/src/AutoMerge.ts
  yarn.lock
Due: prettier, oxlint

fix tests
  packages/auto-merge/src/AutoMerge.test.ts
  packages/auto-merge/tsconfig.json
Due: prettier, oxlint

remove axios from ntfy
  packages/auto-merge/src/AutoMerge.test.ts
  packages/gh-open/package.json
  packages/gh-open/src/GitHubClient.ts
  packages/ntfy/package.json
  packages/ntfy/src/NtfyClient.ts
  packages/ntfy/src/interfaces.ts
  yarn.lock
Due: prettier, oxlint

add missing credentials
  packages/ntfy/src/NtfyClient.ts
Due: oxlint

fix tests
  packages/auto-merge/src/AutoMerge.test.ts
  packages/auto-merge/src/AutoMerge.ts
  packages/gh-open/src/GitHubClient.test.ts
Due: oxlint

set baseURL to private
  packages/auto-merge/src/AutoMerge.ts
Due: oxlint

feat: Remove axios (#1040)
  packages/auto-merge/package.json
  packages/auto-merge/src/AutoMerge.test.ts
  packages/auto-merge/src/AutoMerge.ts
  packages/auto-merge/tsconfig.json
  packages/electron-info/package.json
  packages/electron-info/src/HTTPService.ts
  packages/gh-open/package.json
  packages/gh-open/src/GitHubClient.test.ts
  packages/gh-open/src/GitHubClient.ts
  packages/my-timezone/package.json
  packages/my-timezone/src/MyTimezone.ts
  packages/ntfy/package.json
  packages/ntfy/src/NtfyClient.ts
  packages/ntfy/src/interfaces.ts
  yarn.lock
Due: prettier, oxlint

test(my-timezone): Simplify nock test
  packages/my-timezone/src/MyTimezone.test.ts
Due: oxlint

chore(deps): Update yarn lockfile
  yarn.lock
Due: none

test(ntpclient): Fix tests
  packages/ntpclient/src/index.test.ts
Due: oxlint

test(ntpclient): Fix tests (#1042)
  packages/ntpclient/src/index.test.ts
Due: oxlint

feat: Add api-client
  package.json
  packages/api-client/LICENSE
  packages/api-client/README.md
  packages/api-client/package.json
  packages/api-client/src/APIClient.ts
  packages/api-client/src/index.ts
  packages/api-client/src/types.ts
  packages/api-client/tsconfig.build.json
  packages/api-client/tsconfig.json
  yarn.lock
Due: prettier, oxlint

docs: Add link to api-client
  README.md
Due: prettier

feat(api-client): Add api-client (#1043)
  README.md
  package.json
  packages/api-client/LICENSE
  packages/api-client/README.md
  packages/api-client/package.json
  packages/api-client/src/APIClient.ts
  packages/api-client/src/index.ts
  packages/api-client/src/types.ts
  packages/api-client/tsconfig.build.json
  packages/api-client/tsconfig.json
  yarn.lock
Due: prettier, oxlint

fix(api-client): Include status code in error message
  packages/api-client/src/APIClient.ts
Due: oxlint

fix(ntpclient): Skip tests for now
  package.json
  packages/jszip-cli/src/BuildService.test.ts
  packages/ntpclient/src/index.test.ts
  packages/ntpclient/src/index.ts
  tsconfig.json
Due: prettier, oxlint

fix(api-client): Set correct keywords
  packages/api-client/package.json
Due: prettier

feat: Remove lerna
  lerna.json
  package.json
  packages/api-client/package.json
  packages/auto-merge/package.json
  packages/crates-updater/package.json
  packages/double-linked-list/package.json
  packages/electron-icon-generator/package.json
  packages/electron-info/package.json
  packages/exposure-keys/package.json
  packages/gh-open/package.json
  packages/https-proxy/package.json
  packages/jszip-cli/package.json
  packages/mastodon-bot-yearprogress/package.json
  packages/mock-udp/package.json
  packages/my-timezone/package.json
  packages/ntfy/package.json
  packages/ntpclient/package.json
  packages/pixelflut/package.json
  packages/publish-flat/package.json
  packages/quick-sort/package.json
  packages/scrabble-cheater/package.json
  packages/which-os/package.json
  packages/windows-shortcut-maker/package.json
  yarn.lock
Due: prettier

feat: Replace cosmiconfig with lilconfig
  packages/auto-merge/package.json
  packages/auto-merge/src/cli.ts
  packages/jszip-cli/package.json
  packages/jszip-cli/src/JSZipCLI.ts
  yarn.lock
Due: prettier, oxlint

refactor: Use async/await in CLIs
  packages/auto-merge/src/AutoMerge.ts
  packages/auto-merge/src/cli.ts
  packages/crates-updater/src/cli.ts
  packages/electron-icon-generator/src/cli.ts
  packages/electron-info/src/cli.ts
  packages/gh-open/src/cli.ts
  packages/https-proxy/src/cli.ts
  packages/my-timezone/src/cli.ts
  packages/ntpclient/src/cli.ts
  packages/publish-flat/src/cli-copy.ts
  packages/publish-flat/src/cli.ts
  packages/scrabble-cheater/src/cli.ts
  packages/which-os/src/cli.ts
Due: oxlint

refactor: Get toolName from package.json bin entry
  packages/crates-updater/src/cli.ts
  packages/mastodon-bot-yearprogress/src/cli.ts
  packages/publish-flat/src/cli-copy.ts
  packages/publish-flat/src/cli.ts
Due: oxlint
