Repository ffflorian/node-packages: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{json,md,yml}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    oxlint:
      glob: 'packages/**/*.ts'
      run: npx oxlint --fix {staged_files} && git add {staged_files}

Notes added by 'git notes add'
  1be51af6bd5f947cd4130b23bc6767bc3d1feeff
Due: none

chore(release): electron-info@1.32.7 [skip ci]
  packages/electron-info/CHANGELOG.md
  packages/electron-info/package.json
Due: prettier

Notes added by 'git notes add'
  f75172387c851cc183cdf0da7bd96ccbf0e6f7e2
Due: none

ci: Group ffflorian/actions updates [ci skip]
  .github/dependabot.yml
Due: prettier

fix(deps): Bump vite to 8.1.1
  package.json
  yarn.lock
Due: prettier

chore(deps): bump yarn to version 4.17.0
  .yarn/releases/yarn-4.16.0.cjs
  .yarn/releases/yarn-4.17.0.cjs
  .yarnrc.yml
  package.json
Due: prettier

chore(release): exposure-keys@1.18.6 [skip ci]
  packages/exposure-keys/CHANGELOG.md
  packages/exposure-keys/package.json
Due: prettier

Notes added by 'git notes add'
  833eb4f123905799e5cf63eb94617d42f75a5b06
Due: none

chore(release): publish-flat@1.19.5 [skip ci]
  packages/publish-flat/CHANGELOG.md
  packages/publish-flat/package.json
Due: prettier

Notes added by 'git notes add'
  56869046ca6e9c9a6e293fcccf45c44bcf66d436
Due: none

chore(deps-dev): Bump @types/node to ~26
  package.json
  packages/api-client/package.json
  packages/jszip-cli/package.json
  packages/mock-udp/package.json
  packages/pixelflut/package.json
  packages/which-os/package.json
  yarn.lock
Due: prettier

chore(release): exposure-keys@1.18.7 [skip ci]
  packages/exposure-keys/CHANGELOG.md
  packages/exposure-keys/package.json
Due: prettier

Notes added by 'git notes add'
  ddee4d1f57929c40095677e30e1dc6001a66cbb8
Due: none

chore(release): publish-flat@1.19.6 [skip ci]
  packages/publish-flat/CHANGELOG.md
  packages/publish-flat/package.json
Due: prettier

Notes added by 'git notes add'
  401bbe8103ed1f023418d89e7554bc052ba5a297
Due: none

chore(release): exposure-keys@1.18.8 [skip ci]
  packages/exposure-keys/CHANGELOG.md
  packages/exposure-keys/package.json
Due: prettier

Notes added by 'git notes add'
  f6203aab2278985d7dcd3356fc98fe44fc3ea6a9
Due: none

chore(release): publish-flat@1.19.7 [skip ci]
  packages/publish-flat/CHANGELOG.md
  packages/publish-flat/package.json
Due: prettier

Notes added by 'git notes add'
  a860f9113d4330e14e8fbcf4109db16430afdf0b
Due: none

ci: grant issues:write so semantic-release can report release failures
  .github/workflows/build_test_publish.yml
Due: prettier

fix: serialize multi-semantic-release init to avoid throttled release failures
  package.json
Due: prettier

fix: serialize multi-semantic-release init to avoid flaky release failures (#1364)
  .github/workflows/build_test_publish.yml
  package.json
Due: prettier

chore(release): exposure-keys@1.18.9 [skip ci]
  packages/exposure-keys/CHANGELOG.md
  packages/exposure-keys/package.json
Due: prettier

Notes added by 'git notes add'
  843a71863e7a89ed5eddfadf535d8850a4d239fe
Due: none

chore(release): scrabble-cheater@3.16.4 [skip ci]
  packages/scrabble-cheater/CHANGELOG.md
  packages/scrabble-cheater/package.json
Due: prettier

Notes added by 'git notes add'
  40fe60365fbc6fac0097545acffcf8cfbf626053
Due: none

chore: Remove ESLint
  .github/dependabot.yml
  .oxlintrc.json
  .prettierignore
  AGENTS.md
  eslint.config.ts
  lefthook.yml
  package.json
  yarn.lock
Due: prettier

chore(deps): Bump typescript to 7.0.2
  .github/dependabot.yml
  .yarn/releases/yarn-4.17.0.cjs
  .yarn/releases/yarn-4.18.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier

chore: Fix dependencies and oxlint config
  .oxlintrc.json
  package.json
  packages/api-client/package.json
  packages/auto-merge/package.json
  packages/crates-updater/package.json
  packages/double-linked-list/package.json
  packages/electron-icon-generator/package.json
  packages/electron-info/package.json
  packages/exposure-keys/package.json
  packages/gh-open/package.json
  packages/https-proxy/package.json
  packages/jszip-cli/package.json
  packages/mastodon-bot-yearprogress/package.json
  packages/mock-udp/package.json
  packages/my-timezone/package.json
  packages/ntfy/package.json
  packages/ntpclient/package.json
  packages/pixelflut/package.json
  packages/publish-flat/package.json
  packages/quick-sort/package.json
  packages/scrabble-cheater/package.json
  packages/which-os/package.json
  packages/windows-shortcut-maker/package.json
  yarn.lock
Due: prettier

chore(release): publish-flat@1.19.8 [skip ci]
  packages/publish-flat/CHANGELOG.md
  packages/publish-flat/package.json
Due: prettier

Notes added by 'git notes add'
  4a161e5dd2f55387c4a28b6664f4d81379d941f7
Due: none

chore(release): electron-info@1.32.8 [skip ci]
  packages/electron-info/CHANGELOG.md
  packages/electron-info/package.json
Due: prettier

Notes added by 'git notes add'
  4683099dd9d3040fdd18373e4da4840bcf3033e8
Due: none

new API
  packages/https-proxy/src/HttpsProxy.ts
Due: oxlint

chore(release): @ffflorian/auto-merge@1.8.5 [skip ci]
  packages/auto-merge/CHANGELOG.md
  packages/auto-merge/package.json
Due: prettier

Notes added by 'git notes add'
  5b4bff8033898965f1cd7f412f40c36039238699
Due: none

chore(release): @ffflorian/https-proxy@1.20.4 [skip ci]
  packages/https-proxy/CHANGELOG.md
  packages/https-proxy/package.json
Due: prettier

Notes added by 'git notes add'
  d9bfa3915d1a0df4edb92f71f3fa7182bb1d3d85
Due: none

chore(release): @ffflorian/jszip-cli@3.16.5 [skip ci]
  packages/jszip-cli/CHANGELOG.md
  packages/jszip-cli/package.json
Due: prettier

Notes added by 'git notes add'
  f2b559198c9fd4f759f9884c5a26661c95254da0
Due: none
