Repository ffflorian/node-packages: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{json,md,yml}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    oxlint:
      glob: 'packages/**/*.ts'
      run: npx oxlint --fix {staged_files} && git add {staged_files}

add default server url
  packages/ntfy/src/NtfyClient.ts
Due: oxlint

chore(deps): Update megalodon to 9.1.2
  packages/mastodon-bot-impfstatus/package.json
  packages/mastodon-bot-yearprogress/package.json
  yarn.lock
Due: prettier

chore(deps): Update semver to 5.7.2
  yarn.lock
Due: none

feat(ntfy): Add default config including authorization (#374)
  packages/ntfy/src/NtfyClient.ts
Due: oxlint

fix(my-timezone): Add axios as prod dependency
  packages/my-timezone/package.json
Due: prettier

fix(mastodon-bot-yearprogress): Toot on new year's morning
  packages/mastodon-bot-yearprogress/src/YearProgressClient.ts
Due: oxlint

chore: Pin parse-url to 8.x
  .github/dependabot.yml
Due: prettier

chore: Use Node.js 22
  .github/dependabot.yml
  .github/workflows/build_test_publish.yml
Due: prettier

chore: Update yarn to 4.2.1
  .github/workflows/build_test_publish.yml
  .yarn/releases/yarn-4.0.2.cjs
  .yarn/releases/yarn-4.2.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier

update vite
  yarn.lock
Due: none

fix: Don't publish test files
  packages/ntpclient/package.json
  packages/ntpclient/tsconfig.cjs.json
  packages/ntpclient/tsconfig.json
Due: prettier

fix: Set TypeScript target to ES2018
  packages/auto-approver/tsconfig.json
  packages/crates-updater/tsconfig.json
  packages/double-linked-list/tsconfig.json
  packages/electron-icon-generator/tsconfig.json
  packages/electron-info/tsconfig.json
  packages/file-index/tsconfig.json
  packages/gh-open/tsconfig.json
  packages/https-proxy/tsconfig.json
  packages/mastodon-bot-impfstatus/tsconfig.json
  packages/mastodon-bot-yearprogress/tsconfig.json
  packages/mock-udp/tsconfig.json
  packages/my-timezone/tsconfig.json
  packages/ntfy/tsconfig.json
  packages/ntpclient/tsconfig.json
  packages/pixelflut/tsconfig.json
  packages/publish-flat/tsconfig.json
  packages/quick-sort/tsconfig.json
  packages/scrabble-cheater/tsconfig.json
  packages/which-os/tsconfig.json
  packages/windows-shortcut-maker/tsconfig.json
  tsconfig.json
Due: prettier

chore: Run dependabot monthly
  .github/dependabot.yml
Due: prettier

chore(deps-dev): Update @types/node to ~22
  package.json
  yarn.lock
Due: prettier

chore(deps-dev): Update load-bmfont to 1.4.2
  yarn.lock
Due: none

chore(deps-dev): Update parse-bmfont-xml to 1.1.6
  yarn.lock
Due: none

chore: Update CodeQL
  .github/workflows/codeql-analysis.yml
Due: prettier

chore: Linting
  .eslintrc.json
  lefthook.yml
  package.json
  packages/electron-info/src/HTTPService.test.ts
  packages/electron-info/src/cli.ts
  packages/gh-open/src/RepositoryService.ts
  packages/gh-open/src/cli.ts
  packages/jszip-cli/src/FileService.ts
  packages/jszip-cli/src/cli.ts
  packages/mastodon-bot-impfstatus/src/cli.ts
  packages/mastodon-bot-yearprogress/src/cli.ts
  packages/mock-udp/src/index.test.ts
  packages/my-timezone/src/MyTimezone.ts
  packages/publish-flat/src/copyJson.ts
  packages/scrabble-cheater/src/index.test.ts
  yarn.lock
Due: prettier, oxlint

fix(jszip-cli): Import fs-extra correctly
  .gitignore
  packages/electron-icon-generator/src/index.ts
  packages/electron-info/src/ElectronInfo.test.ts
  packages/jszip-cli/package.json
  packages/jszip-cli/src/BuildService.test.ts
  packages/jszip-cli/src/BuildService.ts
  packages/jszip-cli/src/JSZipCLI.test.ts
Due: prettier, oxlint

fix versions
  yarn.lock
Due: none

adapt to new api
  packages/electron-icon-generator/package.json
  packages/electron-icon-generator/src/index.ts
  yarn.lock
Due: prettier, oxlint

update lockfile
  yarn.lock
Due: none

update long
  yarn.lock
Due: none

update yarn lockfile
  yarn.lock
Due: none

chore(deps): bump crates.io to 2.2.9
  packages/crates-updater/package.json
  yarn.lock
Due: prettier

feat(ntfy): Add access token authentication
  packages/ntfy/src/NtfyClient.ts
  packages/ntfy/src/interfaces.ts
Due: oxlint
