Repository ffflorian/node-packages: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint

prettier:
  run: npx prettier --write {staged_files} && git add {staged_files}

oxlint:
  run: npx oxlint --fix {staged_files} && git add {staged_files}

refactor: Use import.meta.dirname
  packages/auto-approver/src/AutoApprover.ts
  packages/auto-approver/src/cli.ts
  packages/crates-updater/src/cli.ts
  packages/electron-icon-generator/src/cli.ts
  packages/electron-info/src/ElectronInfo.test.ts
  packages/electron-info/src/cli.ts
  packages/gh-open/src/cli.ts
  packages/https-proxy/src/cli.ts
  packages/jszip-cli/src/cli.ts
  packages/mastodon-bot-yearprogress/src/cli.ts
  packages/mastodon-bot-yearprogress/tsconfig.json
  packages/my-timezone/src/cli.ts
  packages/ntpclient/src/cli.ts
  packages/publish-flat/src/cli-copy.ts
  packages/publish-flat/src/cli.ts
  packages/scrabble-cheater/src/cli.ts
  packages/scrabble-cheater/src/index.test.ts
  packages/which-os/src/cli.ts
Due: prettier, oxlint

fix(mastodon-bot-yearprogress): Add missing types for ws
  packages/mastodon-bot-yearprogress/package.json
  packages/mastodon-bot-yearprogress/tsconfig.json
  yarn.lock
Due: prettier

feat(auto-merge): Added package auto-merge
  README.md
  packages/auto-approver/.approverrc.example.json
  packages/auto-approver/.gitignore
  packages/auto-approver/CHANGELOG.md
  packages/auto-approver/README.md
  packages/auto-approver/src/index.ts
  packages/auto-merge/.automergerc.example.json
  packages/auto-merge/.gitignore
  packages/auto-merge/LICENSE
  packages/auto-merge/README.md
  packages/auto-merge/package.json
  packages/auto-merge/src/AutoMerge.test.ts
  packages/auto-merge/src/AutoMerge.ts
  packages/auto-merge/src/cli.ts
  packages/auto-merge/src/index.ts
  packages/auto-merge/src/util.ts
  packages/auto-merge/tsconfig.json
  yarn.lock
Due: prettier, oxlint

fix(auto-merge): Forward squash config
  packages/auto-merge/src/AutoMerge.test.ts
  packages/auto-merge/src/AutoMerge.ts
Due: oxlint

fix(auto-merge): Package name
  README.md
  packages/auto-merge/README.md
  packages/auto-merge/package.json
  packages/auto-merge/src/cli.ts
Due: prettier, oxlint

fix: Project names in CLIs
  packages/electron-icon-generator/src/cli.ts
  packages/my-timezone/src/cli.ts
  packages/ntpclient/src/cli.ts
  packages/scrabble-cheater/src/cli.ts
Due: oxlint

fix: yarn lockfile
  yarn.lock
Due: none

fix(auto-merge): Warn if not all PRs could be merged
  packages/auto-merge/src/cli.ts
Due: oxlint

fix(auto-merge): Warn if no PRs could be merged
  packages/auto-merge/src/cli.ts
Due: oxlint

chore: Format workflow
  .github/workflows/gitlab_mirror.yml
Due: prettier

chore: Use tsx instead of ts-node
  package.json
  packages/auto-merge/package.json
  packages/crates-updater/package.json
  packages/electron-icon-generator/package.json
  packages/electron-info/package.json
  packages/exposure-keys/package.json
  packages/gh-open/package.json
  packages/https-proxy/package.json
  packages/jszip-cli/package.json
  packages/mastodon-bot-yearprogress/package.json
  packages/my-timezone/package.json
  packages/ntpclient/package.json
  packages/pixelflut/package.json
  packages/publish-flat/package.json
  packages/scrabble-cheater/package.json
  packages/which-os/package.json
  tsconfig.json
  yarn.lock
Due: prettier

chore(deps): Remove @swc/core
  package.json
  yarn.lock
Due: prettier

refactor: Import from fs/promises
  packages/electron-info/src/HTTPService.ts
  packages/gh-open/src/RepositoryService.ts
  packages/ntfy/src/NtfyClient.ts
  packages/scrabble-cheater/src/index.ts
Due: oxlint

refactor: Import from fs/promises (#1034)
  packages/electron-info/src/HTTPService.ts
  packages/gh-open/src/RepositoryService.ts
  packages/ntfy/src/NtfyClient.ts
  packages/scrabble-cheater/src/index.ts
Due: oxlint

feat: Use mergeable state for PR filter
  packages/auto-merge/.automergerc.example.json
  packages/auto-merge/README.md
  packages/auto-merge/src/AutoMerge.ts
  packages/auto-merge/src/cli.ts
  packages/auto-merge/src/types/AutoMergeConfig.d.ts
  packages/auto-merge/src/types/PullRequest.d.ts
Due: prettier, oxlint

use for loops
  packages/auto-merge/src/AutoMerge.ts
  packages/auto-merge/src/cli.ts
Due: oxlint

move interfaces
  packages/auto-merge/src/AutoMerge.test.ts
  packages/auto-merge/src/AutoMerge.ts
  packages/auto-merge/src/cli.ts
  packages/auto-merge/src/types/ActionResult.d.ts
  packages/auto-merge/src/types/AutoMergeConfig.d.ts
  packages/auto-merge/src/types/GitHubPullRequest.d.ts
  packages/auto-merge/src/types/Repository.d.ts
  packages/auto-merge/src/types/RepositoryResult.d.ts
  packages/auto-merge/src/types/index.d.ts
Due: oxlint

update interfaces, use mergeable
  packages/auto-merge/README.md
  packages/auto-merge/src/AutoMerge.test.ts
  packages/auto-merge/src/AutoMerge.ts
  packages/auto-merge/src/types/AutoMergeConfig.d.ts
  packages/auto-merge/src/types/GitHubSimplePullRequest.d.ts
  packages/auto-merge/src/types/Repository.d.ts
  packages/auto-merge/src/types/index.d.ts
Due: prettier, oxlint

use mergeable_state
  packages/auto-merge/src/AutoMerge.ts
  packages/auto-merge/src/types/GitHubPullRequest.d.ts
  packages/auto-merge/src/types/index.d.ts
Due: oxlint

fix tests
  packages/auto-merge/src/AutoMerge.test.ts
Due: oxlint

fix types
  packages/auto-merge/src/types/Repository.d.ts
Due: oxlint

update token needs
  packages/auto-merge/README.md
  packages/auto-merge/src/types/AutoMergeConfig.d.ts
Due: prettier, oxlint

Update CodeQL analysis workflow configuration
  .github/workflows/codeql.yml
Due: prettier

feat(auto-merge): Check if PR is mergeable before merging (#1035)
  packages/auto-merge/.automergerc.example.json
  packages/auto-merge/README.md
  packages/auto-merge/src/AutoMerge.test.ts
  packages/auto-merge/src/AutoMerge.ts
  packages/auto-merge/src/cli.ts
  packages/auto-merge/src/types/ActionResult.d.ts
  packages/auto-merge/src/types/AutoMergeConfig.d.ts
  packages/auto-merge/src/types/GitHubPullRequest.d.ts
  packages/auto-merge/src/types/Repository.d.ts
  packages/auto-merge/src/types/RepositoryResult.d.ts
  packages/auto-merge/src/types/index.d.ts
Due: prettier, oxlint

remove codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: prettier

chore: Update CodeQL analysis workflow configuration (#1036)
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql.yml
Due: prettier

chore: Remove file-index
  README.md
  packages/file-index/CHANGELOG.md
  packages/file-index/LICENSE
  packages/file-index/README.md
  packages/file-index/package.json
  packages/file-index/src/FileIndex.ts
  packages/file-index/src/index.ts
  packages/file-index/src/interfaces.ts
  packages/file-index/tsconfig.json
Due: prettier, oxlint

chore: Unpublish double-linked-list
  README.md
  packages/double-linked-list/README.md
  packages/double-linked-list/package.json
Due: prettier

refactor(jszip-cli): Use for loop
  packages/jszip-cli/src/ExtractService.ts
Due: oxlint

chore: Update yarn lockfile
  yarn.lock
Due: none

chore: Set permissions for workflows
  .github/workflows/codeberg_mirror.yml
  .github/workflows/gitlab_mirror.yml
Due: prettier

Potential fix for code scanning alert no. 4: Unsafe shell command constructed from library input
  packages/publish-flat/src/PublishFlat.ts
Due: oxlint

Potential fix for code scanning alert no. 4: Unsafe shell command constructed from library input (#1037)
  packages/publish-flat/src/PublishFlat.ts
Due: oxlint

chore(exposure-keys): Remove unused path from tsconfig
  packages/exposure-keys/tsconfig.json
Due: prettier

Path conditions:
  prettier: any of: *.{json,md,yml}
  oxlint: any of: packages/**/*.ts
