Repository ffflorian/node-packages: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint

prettier:
  run: npx prettier --write {staged_files} && git add {staged_files}

oxlint:
  run: npx oxlint --fix {staged_files} && git add {staged_files}

chore(deps): Bump undici to 7.29.0 and 8.10.0
  yarn.lock
Due: none

chore(release): exposure-keys@1.18.10 [skip ci]
  packages/exposure-keys/CHANGELOG.md
  packages/exposure-keys/package.json
Due: prettier

Notes added by 'git notes add'
  96ed4982e5a84b1856283f7d893373e9a7b28a8d
Due: none

chore(release): @ffflorian/gh-open@3.16.4 [skip ci]
  packages/gh-open/CHANGELOG.md
  packages/gh-open/package.json
Due: prettier

Notes added by 'git notes add'
  fc252f52c20a7574eaac43a6ae4fe8f54b0e9059
Due: none

chore(release): exposure-keys@1.18.11 [skip ci]
  packages/exposure-keys/CHANGELOG.md
  packages/exposure-keys/package.json
Due: prettier

Notes added by 'git notes add'
  5e6b618e99c1fd0b46be3ec8d6932f40d25498d0
Due: none

chore(release): @ffflorian/gh-open@3.16.5 [skip ci]
  packages/gh-open/CHANGELOG.md
  packages/gh-open/package.json
Due: prettier

Notes added by 'git notes add'
  20d6ea3c91393c1c52709edace99e20114172d26
Due: none

chore(release): @ffflorian/auto-merge@1.8.6 [skip ci]
  packages/auto-merge/CHANGELOG.md
  packages/auto-merge/package.json
Due: prettier

Notes added by 'git notes add'
  f7bebf8fcedf3f388e5de32244d517559978e8ca
Due: none

chore(release): @ffflorian/jszip-cli@3.16.6 [skip ci]
  packages/jszip-cli/CHANGELOG.md
  packages/jszip-cli/package.json
Due: prettier

Notes added by 'git notes add'
  886eff5b3dd2939a08f7ed0d8ba946d30d1db6f9
Due: none

ci: replace multi-semantic-release with nx release
  .github/workflows/build_test_publish.yml
  .gitignore
  .releaserc.json
  nx.json
  package.json
  yarn.lock
Due: prettier

ci: force-release all packages via nx release
  .github/workflows/build_test_publish.yml
Due: prettier

ci: replace multi-semantic-release with nx release (#1427)
  .github/workflows/build_test_publish.yml
  .gitignore
  .releaserc.json
  nx.json
  package.json
  yarn.lock
Due: prettier

chore(release): publish [skip ci]
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/crates-updater/CHANGELOG.md
  packages/crates-updater/package.json
  packages/electron-icon-generator/CHANGELOG.md
  packages/electron-icon-generator/package.json
  packages/electron-info/CHANGELOG.md
  packages/electron-info/package.json
  packages/mock-udp/CHANGELOG.md
  packages/mock-udp/package.json
  packages/my-timezone/CHANGELOG.md
  packages/my-timezone/package.json
  packages/ntfy/CHANGELOG.md
  packages/ntfy/package.json
  packages/ntpclient/CHANGELOG.md
  packages/ntpclient/package.json
  packages/pixelflut/CHANGELOG.md
  packages/pixelflut/package.json
  packages/publish-flat/CHANGELOG.md
  packages/publish-flat/package.json
  packages/scrabble-cheater/CHANGELOG.md
  packages/scrabble-cheater/package.json
  packages/which-os/CHANGELOG.md
  packages/which-os/package.json
  packages/windows-shortcut-maker/CHANGELOG.md
  packages/windows-shortcut-maker/package.json
  yarn.lock
Due: prettier

chore: Let oxlint ignore more files
  .oxlintrc.json
Due: prettier

chore(release): publish [skip ci]
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/auto-merge/CHANGELOG.md
  packages/auto-merge/package.json
  packages/crates-updater/CHANGELOG.md
  packages/crates-updater/package.json
  packages/electron-icon-generator/CHANGELOG.md
  packages/electron-icon-generator/package.json
  packages/electron-info/CHANGELOG.md
  packages/electron-info/package.json
  packages/exposure-keys/CHANGELOG.md
  packages/exposure-keys/package.json
  packages/gh-open/CHANGELOG.md
  packages/gh-open/package.json
  packages/https-proxy/CHANGELOG.md
  packages/https-proxy/package.json
  packages/jszip-cli/CHANGELOG.md
  packages/jszip-cli/package.json
  packages/mock-udp/CHANGELOG.md
  packages/mock-udp/package.json
  packages/my-timezone/CHANGELOG.md
  packages/my-timezone/package.json
  packages/ntfy/CHANGELOG.md
  packages/ntfy/package.json
  packages/ntpclient/CHANGELOG.md
  packages/ntpclient/package.json
  packages/pixelflut/CHANGELOG.md
  packages/pixelflut/package.json
  packages/publish-flat/CHANGELOG.md
  packages/publish-flat/package.json
  packages/scrabble-cheater/CHANGELOG.md
  packages/scrabble-cheater/package.json
  packages/which-os/CHANGELOG.md
  packages/which-os/package.json
  packages/windows-shortcut-maker/CHANGELOG.md
  packages/windows-shortcut-maker/package.json
  yarn.lock
Due: prettier

chore: Add timezone to workflow cron settings [ci skip]
  .github/workflows/yarn_update.yml
Due: prettier

chore: Replace prettier with oxfmt
  .oxlintrc.json
  AGENTS.md
  lefthook.yml
  oxfmt.config.ts
  package.json
  packages/auto-merge/package.json
  packages/double-linked-list/package.json
  packages/electron-info/package.json
  packages/gh-open/package.json
  packages/jszip-cli/package.json
  packages/mock-udp/package.json
  packages/my-timezone/package.json
  packages/ntpclient/package.json
  packages/pixelflut/package.json
  packages/quick-sort/package.json
  packages/scrabble-cheater/package.json
  tsconfig.json
  yarn.lock
Due: prettier

chore: Replace prettier with oxfmt (#1436)
  .oxlintrc.json
  AGENTS.md
  lefthook.yml
  oxfmt.config.ts
  package.json
  packages/auto-merge/package.json
  packages/double-linked-list/package.json
  packages/electron-info/package.json
  packages/gh-open/package.json
  packages/jszip-cli/package.json
  packages/mock-udp/package.json
  packages/my-timezone/package.json
  packages/ntpclient/package.json
  packages/pixelflut/package.json
  packages/quick-sort/package.json
  packages/scrabble-cheater/package.json
  tsconfig.json
  yarn.lock
Due: prettier

chore(deps): Bump @ffflorian/oxfmt-config to 1.3.0
  oxfmt.config.ts
  package.json
  yarn.lock
Due: prettier

fix(electron-icon-generator): Replace icon-gen with png2icons
  packages/electron-icon-generator/package.json
  packages/electron-icon-generator/src/index.test.ts
  packages/electron-icon-generator/src/index.ts
  yarn.lock
Due: prettier, oxlint

fix(electron-icon-generator): Replace icon-gen with png2icons (#1446)
  packages/electron-icon-generator/package.json
  packages/electron-icon-generator/src/index.test.ts
  packages/electron-icon-generator/src/index.ts
  yarn.lock
Due: prettier, oxlint

chore(release): publish [skip ci]
  packages/publish-flat/CHANGELOG.md
  packages/publish-flat/package.json
Due: prettier

chore(deps): bump yarn to version 4.18.1
  .yarn/releases/yarn-4.18.0.cjs
  .yarn/releases/yarn-4.18.1.cjs
  .yarnrc.yml
  package.json
Due: prettier

chore(release): publish [skip ci]
  packages/auto-merge/CHANGELOG.md
  packages/auto-merge/package.json
  packages/crates-updater/CHANGELOG.md
  packages/crates-updater/package.json
  packages/electron-icon-generator/CHANGELOG.md
  packages/electron-icon-generator/package.json
  packages/electron-info/CHANGELOG.md
  packages/electron-info/package.json
  packages/exposure-keys/CHANGELOG.md
  packages/exposure-keys/package.json
  packages/gh-open/CHANGELOG.md
  packages/gh-open/package.json
  packages/https-proxy/CHANGELOG.md
  packages/https-proxy/package.json
  packages/jszip-cli/CHANGELOG.md
  packages/jszip-cli/package.json
  packages/mock-udp/CHANGELOG.md
  packages/mock-udp/package.json
  packages/my-timezone/CHANGELOG.md
  packages/my-timezone/package.json
  packages/ntpclient/CHANGELOG.md
  packages/ntpclient/package.json
  packages/pixelflut/CHANGELOG.md
  packages/pixelflut/package.json
  packages/publish-flat/CHANGELOG.md
  packages/publish-flat/package.json
  packages/scrabble-cheater/CHANGELOG.md
  packages/scrabble-cheater/package.json
  packages/which-os/CHANGELOG.md
  packages/which-os/package.json
  yarn.lock
Due: prettier

chore: group oxfmt and oxlint [ci skip]
  .github/dependabot.yml
Due: prettier

Path conditions:
  prettier: any of: *.{json,md,yml}
  oxlint: any of: packages/**/*.ts
