Repository ffflorian/node-packages: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint

prettier:
  run: npx prettier --write {staged_files} && git add {staged_files}

oxlint:
  run: npx oxlint --fix {staged_files} && git add {staged_files}

chore(release): scrabble-cheater@3.16.3 [skip ci]
  packages/scrabble-cheater/CHANGELOG.md
  packages/scrabble-cheater/package.json
Due: prettier

Notes added by 'git notes add'
  649d84240f1984d8dae0cbf86a9b1fb071a68644
Due: none

chore(release): which-os@1.18.3 [skip ci]
  packages/which-os/CHANGELOG.md
  packages/which-os/package.json
Due: prettier

Notes added by 'git notes add'
  1541fc2a2e655d21005a05da0ad88a3655e7d25d
Due: none

chore(release): @ffflorian/windows-shortcut-maker@2.15.2 [skip ci]
  packages/windows-shortcut-maker/CHANGELOG.md
  packages/windows-shortcut-maker/package.json
Due: prettier

Notes added by 'git notes add'
  9a524f61a79c79d777d1d27ff699cb02d2471e96
Due: none

chore: Group oxlint updates [ci skip]
  .github/dependabot.yml
Due: prettier

update workflow
  .github/workflows/yarn_update.yml
Due: prettier

ci: Remove CodeQL workflow [ci skip]
  .github/workflows/codeql.yml
Due: prettier

ci: Update yarn_update workflow [ci skip]
  .github/workflows/yarn_update.yml
Due: prettier

refactor(electron-info): replace date-fns with native Date API
  packages/electron-info/package.json
  packages/electron-info/src/FileService.ts
  yarn.lock
Due: prettier, oxlint

refactor(electron-info): extract isWithinLastDay and add tests
  packages/electron-info/src/FileService.test.ts
  packages/electron-info/src/FileService.ts
Due: oxlint

fix(electron-info): replace date-fns with native Date API (#1269)
  packages/electron-info/package.json
  packages/electron-info/src/FileService.test.ts
  packages/electron-info/src/FileService.ts
  yarn.lock
Due: prettier, oxlint

chore(release): electron-info@1.32.4 [skip ci]
  packages/electron-info/CHANGELOG.md
  packages/electron-info/package.json
Due: prettier

Notes added by 'git notes add'
  8d3bcbb82dc6cffe9b28614a0ac2a7ed43d9f87c
Due: none

ci: Update git_mirror workflow [ci skip]
  .github/workflows/git_mirror.yml
Due: prettier

chore: Update dependabot config [ci skip]
  .github/dependabot.yml
Due: prettier

chore(deps): bump yarn to version 4.16.0
  .yarn/releases/yarn-4.15.0.cjs
  .yarn/releases/yarn-4.16.0.cjs
  .yarnrc.yml
  package.json
Due: prettier

chore(release): electron-info@1.32.5 [skip ci]
  packages/electron-info/CHANGELOG.md
  packages/electron-info/package.json
Due: prettier

Notes added by 'git notes add'
  c7ea97169c0cbe630002b5c0ea0c8055a6f8ca00
Due: none

chore(release): exposure-keys@1.18.3 [skip ci]
  packages/exposure-keys/CHANGELOG.md
  packages/exposure-keys/package.json
Due: prettier

Notes added by 'git notes add'
  e30484e00301bde5fbb3415a592fe481a37f1db1
Due: none

chore(release): publish-flat@1.19.3 [skip ci]
  packages/publish-flat/CHANGELOG.md
  packages/publish-flat/package.json
Due: prettier

Notes added by 'git notes add'
  aea1de378a3fa9c5be2c0333debc9ef56df26ebf
Due: none

chore: Sort dependabot config [ci skip]
  .github/dependabot.yml
Due: prettier

ci: Update build_test_publish workflow name
  .github/workflows/build_test_publish.yml
Due: prettier

chore(release): exposure-keys@1.18.4 [skip ci]
  packages/exposure-keys/CHANGELOG.md
  packages/exposure-keys/package.json
Due: prettier

Notes added by 'git notes add'
  cf3b1ad3d813b284e5005137fc530f911ac3563b
Due: none

chore(release): @ffflorian/auto-merge@1.8.4 [skip ci]
  packages/auto-merge/CHANGELOG.md
  packages/auto-merge/package.json
Due: prettier

Notes added by 'git notes add'
  c1ff7a0187f462fce35a9f7c35c86790a0903542
Due: none

chore(release): electron-info@1.32.6 [skip ci]
  packages/electron-info/CHANGELOG.md
  packages/electron-info/package.json
Due: prettier

Notes added by 'git notes add'
  e605092e3fc6f7556193e024592f692f40ea62bc
Due: none

chore(release): @ffflorian/jszip-cli@3.16.4 [skip ci]
  packages/jszip-cli/CHANGELOG.md
  packages/jszip-cli/package.json
Due: prettier

Notes added by 'git notes add'
  1a61350d15b2d8550d9847944615ba7d6199704c
Due: none

chore(release): publish-flat@1.19.4 [skip ci]
  packages/publish-flat/CHANGELOG.md
  packages/publish-flat/package.json
Due: prettier

Notes added by 'git notes add'
  46affcd497632982537056f3572c842137b044ca
Due: none

ci(deps): block only next major in dependabot ignore rules
  .github/dependabot.yml
Due: prettier

chore(deps): block only next major in dependabot ignore rules (#1299) [ci skip]
  .github/dependabot.yml
Due: prettier

fix(deps): Bump undici to 7.28.0 and js-yaml to 4.2.0
  yarn.lock
Due: none

chore(release): exposure-keys@1.18.5 [skip ci]
  packages/exposure-keys/CHANGELOG.md
  packages/exposure-keys/package.json
Due: prettier

Path conditions:
  prettier: any of: *.{json,md,yml}
  oxlint: any of: packages/**/*.ts
