Repository ffflorian/node-packages: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{json,md,yml}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    oxlint:
      glob: 'packages/**/*.ts'
      run: npx oxlint --fix {staged_files} && git add {staged_files}

update Node versions
  packages/crates-updater/package.json
  packages/electron-icon-generator/package.json
  packages/gh-open/package.json
  packages/https-proxy/package.json
  packages/ntpclient/package.json
  packages/publish-flat/package.json
  packages/publish-flat/src/copyJson.ts
  packages/scrabble-cheater/package.json
  packages/which-os/package.json
Due: prettier, oxlint

chore(deps): Update @ffflorian/eslint-config and @ffflorian/prettier-config
  package.json
  yarn.lock
Due: prettier

Fix ntfy Authorization using a Token
  packages/ntfy/src/NtfyClient.ts
Due: oxlint

fix(ntfy): Authorization using a Token (#1082)
  packages/ntfy/src/NtfyClient.ts
Due: oxlint

fix(electron-info): New Electron Releases URL
  packages/electron-info/README.md
  packages/electron-info/src/ElectronInfo.test.ts
  packages/electron-info/src/ElectronInfo.ts
  packages/electron-info/src/FileService.ts
  packages/electron-info/src/interfaces.ts
Due: prettier, oxlint

chore: Enable ESLint
  .eslintrc.json
  .github/dependabot.yml
  .github/workflows/build_test_publish.yml
  .prettierignore
  eslint.config.ts
  lefthook.yml
  package.json
  packages/api-client/package.json
  packages/double-linked-list/src/DoubleLinkedList.test.ts
  packages/electron-icon-generator/src/index.ts
  packages/electron-info/src/ElectronInfo.test.ts
  packages/electron-info/src/ElectronInfo.ts
  packages/electron-info/src/HTTPService.test.ts
  packages/electron-info/src/HTTPService.ts
  packages/exposure-keys/src/ExposureKeys.ts
  packages/jszip-cli/config-examples/.jsziprc.example.js
  packages/jszip-cli/package.json
  packages/jszip-cli/src/BuildService.test.ts
  packages/jszip-cli/src/ExtractService.ts
  packages/jszip-cli/src/FileService.ts
  packages/jszip-cli/src/JSZipCLI.test.ts
  packages/mock-udp/package.json
  packages/mock-udp/src/index.test.ts
  packages/my-timezone/src/MyTimezone.test.ts
  packages/my-timezone/src/MyTimezone.ts
  packages/ntpclient/src/index.test.ts
  packages/pixelflut/package.json
  packages/pixelflut/src/cli.ts
  packages/pixelflut/src/index.test.ts
  packages/pixelflut/src/index.ts
  packages/quick-sort/src/index.test.ts
  packages/which-os/package.json
  packages/which-os/src/which-os.ts
  yarn.lock
Due: prettier, oxlint

fix linting
  eslint.config.ts
  packages/electron-icon-generator/src/index.ts
  packages/exposure-keys/src/ExposureKeys.ts
Due: oxlint

use @typescript-eslint/no-unresolved
  eslint.config.ts
Due: none

first build, then lint
  .github/workflows/build_test_publish.yml
  eslint.config.ts
Due: prettier

do not prettify lock files
  .prettierignore
  lefthook.yml
Due: prettier

use shared config
  eslint.config.ts
  package.json
  yarn.lock
Due: prettier

chore: Add noUnusedParameters rule
  tsconfig.json
Due: prettier

chore: Use git mirror for GitLab and Codeberg
  .github/workflows/codeberg_mirror.yml
  .github/workflows/git_mirror.yml
  .github/workflows/gitlab_mirror.yml
Due: prettier

chore: Add yarn update action
  .github/workflows/yarn_update.yml
Due: prettier

chore(deps): Update lerna to 9.0.4
  package.json
  yarn.lock
Due: prettier

fix tests
  packages/electron-info/fixtures/electron-releases-full.json
  packages/electron-info/src/ElectronInfo.test.ts
Due: prettier, oxlint

improve tests
  packages/electron-info/src/ElectronInfo.test.ts
  packages/electron-info/src/ElectronInfo.ts
  packages/electron-info/src/HTTPService.test.ts
Due: oxlint

refactor: Expect errors in tests
  packages/double-linked-list/src/DoubleLinkedList.test.ts
  packages/jszip-cli/src/JSZipCLI.test.ts
  packages/mock-udp/src/index.test.ts
  packages/ntpclient/src/index.test.ts
  packages/scrabble-cheater/src/index.test.ts
Due: oxlint

fix(electron-info): New Electron Releases URL (#1084)
  packages/electron-info/README.md
  packages/electron-info/fixtures/electron-releases-full.json
  packages/electron-info/src/ElectronInfo.test.ts
  packages/electron-info/src/ElectronInfo.ts
  packages/electron-info/src/FileService.ts
  packages/electron-info/src/HTTPService.test.ts
  packages/electron-info/src/interfaces.ts
Due: prettier, oxlint

refactor: Expect errors in tests
  packages/double-linked-list/src/DoubleLinkedList.test.ts
  packages/mock-udp/src/index.test.ts
  packages/ntpclient/src/index.test.ts
Due: oxlint

fix auto-merge test
  packages/auto-merge/src/AutoMerge.test.ts
Due: oxlint

refactor: Expect errors in tests (#1111)
  packages/auto-merge/src/AutoMerge.test.ts
  packages/double-linked-list/src/DoubleLinkedList.test.ts
  packages/jszip-cli/src/JSZipCLI.test.ts
  packages/mock-udp/src/index.test.ts
  packages/ntpclient/src/index.test.ts
  packages/scrabble-cheater/src/index.test.ts
Due: oxlint

chore: Create pull request only if yarn version is outdated
  .github/workflows/yarn_update.yml
Due: prettier

chore: Push only main branch to git mirror
  .github/workflows/git_mirror.yml
Due: prettier

chore: Don't run yarn check on main branch
  .github/workflows/yarn_update.yml
Due: prettier

chore(deps): bump yarn to version 4.13.0
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.13.0.cjs
  .yarnrc.yml
  package.json
Due: prettier

chore: Don't lint .yarnrc.yml
  .prettierignore
Due: none

chore(deps): bump typescript to 6.0.2
  package.json
  packages/api-client/package.json
  packages/auto-merge/package.json
  packages/crates-updater/package.json
  packages/double-linked-list/package.json
  packages/electron-icon-generator/package.json
  packages/electron-info/package.json
  packages/exposure-keys/package.json
  packages/exposure-keys/src/index.ts
  packages/gh-open/package.json
  packages/https-proxy/package.json
  packages/jszip-cli/package.json
  packages/mastodon-bot-yearprogress/package.json
  packages/mock-udp/package.json
  packages/my-timezone/package.json
  packages/ntfy/package.json
  packages/ntpclient/package.json
  packages/pixelflut/package.json
  packages/publish-flat/package.json
  packages/quick-sort/package.json
  packages/scrabble-cheater/package.json
  packages/which-os/package.json
  packages/windows-shortcut-maker/package.json
  tsconfig.json
  yarn.lock
Due: prettier, oxlint

fix module resolution
  packages/api-client/tsconfig.json
  packages/auto-merge/tsconfig.json
  packages/crates-updater/tsconfig.json
  packages/double-linked-list/tsconfig.json
  packages/electron-icon-generator/tsconfig.json
  packages/electron-info/tsconfig.json
  packages/exposure-keys/tsconfig.json
  packages/gh-open/tsconfig.json
  packages/https-proxy/tsconfig.json
  packages/jszip-cli/tsconfig.json
  packages/mastodon-bot-yearprogress/tsconfig.json
  packages/mock-udp/tsconfig.json
  packages/my-timezone/tsconfig.json
  packages/ntfy/tsconfig.json
  packages/ntpclient/tsconfig.json
  packages/pixelflut/tsconfig.json
  packages/publish-flat/tsconfig.json
  packages/quick-sort/tsconfig.json
  packages/scrabble-cheater/tsconfig.json
  packages/which-os/tsconfig.json
  packages/windows-shortcut-maker/tsconfig.json
Due: prettier

ntfy: add markdown header support
  packages/ntfy/src/NtfyClient.ts
  packages/ntfy/src/interfaces.ts
Due: oxlint

feat(auto-merge): Add GitHub token as input option
  packages/auto-merge/README.md
  packages/auto-merge/src/AutoMerge.ts
  packages/auto-merge/src/cli.ts
  packages/auto-merge/src/types/AutoMergeConfig.d.ts
Due: prettier, oxlint
