Repository ffflorian/node-packages: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{json,md,yml}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    oxlint:
      glob: 'packages/**/*.ts'
      run: npx oxlint --fix {staged_files} && git add {staged_files}

chore: Update crates.io instantly
  .github/dependabot.yml
Due: prettier

chore: Enable cooldown for yarn updates
  .github/workflows/yarn_update.yml
Due: prettier

chore: Fix all package.json
  packages/api-client/package.json
  packages/auto-merge/package.json
  packages/crates-updater/package.json
  packages/double-linked-list/package.json
  packages/electron-icon-generator/package.json
  packages/electron-info/package.json
  packages/exposure-keys/package.json
  packages/gh-open/package.json
  packages/https-proxy/package.json
  packages/jszip-cli/package.json
  packages/mastodon-bot-yearprogress/package.json
  packages/mock-udp/package.json
  packages/my-timezone/package.json
  packages/ntfy/package.json
  packages/ntpclient/package.json
  packages/pixelflut/package.json
  packages/publish-flat/package.json
  packages/quick-sort/package.json
  packages/scrabble-cheater/package.json
  packages/which-os/package.json
  packages/windows-shortcut-maker/package.json
Due: prettier

chore: Fix lefthook config
  lefthook.yml
Due: prettier

chore: Check weekly for dependency updates
  .github/dependabot.yml
Due: prettier

chore: Checkout repo before checking yarn updates
  .github/workflows/yarn_update.yml
Due: prettier

chore: Group protobufjs updates
  .github/dependabot.yml
Due: prettier

fix: Use Node 26
  .github/dependabot.yml
  .github/workflows/build_test_publish.yml
  AGENTS.md
  package.json
  packages/api-client/package.json
  packages/auto-merge/package.json
  packages/electron-icon-generator/package.json
  packages/electron-info/package.json
  packages/gh-open/package.json
  packages/https-proxy/package.json
  packages/jszip-cli/package.json
  packages/mock-udp/package.json
  packages/my-timezone/package.json
  packages/ntpclient/package.json
  packages/pixelflut/package.json
  packages/scrabble-cheater/package.json
  packages/which-os/package.json
  yarn.lock
Due: prettier

chore(release): @ffflorian/https-proxy@1.20.2 [skip ci]
  packages/https-proxy/CHANGELOG.md
  packages/https-proxy/package.json
Due: prettier

Notes added by 'git notes add'
  a029f86f86d37fd0bc7b2cfdd69e6a03e4908ac4
Due: none

chore(release): @ffflorian/api-client@2.5.2 [skip ci]
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
Due: prettier

Notes added by 'git notes add'
  dfb8acbd2ffc2d3425a090d0be411de2676e3d93
Due: none

chore(release): @ffflorian/auto-merge@1.8.2 [skip ci]
  packages/auto-merge/CHANGELOG.md
  packages/auto-merge/package.json
Due: prettier

Notes added by 'git notes add'
  01a3a14c0702e517bfda9e979560379fb6baebd7
Due: none

chore(release): @ffflorian/electron-icon-generator@1.15.2 [skip ci]
  packages/electron-icon-generator/CHANGELOG.md
  packages/electron-icon-generator/package.json
Due: prettier

Notes added by 'git notes add'
  7c880a9482ba0eabcdd74f2511f1a2bcb5a15f08
Due: none

chore(release): electron-info@1.32.2 [skip ci]
  packages/electron-info/CHANGELOG.md
  packages/electron-info/package.json
Due: prettier

Notes added by 'git notes add'
  88bbdcd876d8258f164bbafd0fa16817ccb62f22
Due: none

chore(release): @ffflorian/gh-open@3.16.2 [skip ci]
  packages/gh-open/CHANGELOG.md
  packages/gh-open/package.json
Due: prettier

Notes added by 'git notes add'
  741a2578adcd87bf8cbfa136e54955782f080a36
Due: none

chore(release): @ffflorian/jszip-cli@3.16.2 [skip ci]
  packages/jszip-cli/CHANGELOG.md
  packages/jszip-cli/package.json
Due: prettier

Notes added by 'git notes add'
  fd765174a5b1b8cd7c6a3a094c82b3b5be402024
Due: none

chore(release): @ffflorian/mock-udp@1.15.2 [skip ci]
  packages/mock-udp/CHANGELOG.md
  packages/mock-udp/package.json
Due: prettier

Notes added by 'git notes add'
  b69aa88793746a82e5e4130c22a06643e5e660a3
Due: none

chore(release): which-os@1.18.2 [skip ci]
  packages/which-os/CHANGELOG.md
  packages/which-os/package.json
Due: prettier

Notes added by 'git notes add'
  c0d45c424ac1c9dbb4c6b723681b983c5a9f4a64
Due: none

chore(release): pixelflut@1.17.2 [skip ci]
  packages/pixelflut/CHANGELOG.md
  packages/pixelflut/package.json
Due: prettier

Notes added by 'git notes add'
  a3677dd258272afb52c479700c55dc28543e280b
Due: none

fix(my-timezone): Coordinate parsing regex (#1237)
  packages/my-timezone/src/MyTimezone.test.ts
  packages/my-timezone/src/MyTimezone.ts
Due: oxlint

fix(my-timezone): Set ntpclient dependency version to '*' (#1238)
  packages/my-timezone/package.json
  yarn.lock
Due: prettier

chore(release): ntpclient@1.16.2 [skip ci]
  packages/ntpclient/CHANGELOG.md
  packages/ntpclient/package.json
Due: prettier

Notes added by 'git notes add'
  25f3c03934f71d22038f6ea7e464779e9c296021
Due: none

chore(release): my-timezone@1.15.4 [skip ci]
  packages/my-timezone/CHANGELOG.md
  packages/my-timezone/package.json
Due: prettier

Notes added by 'git notes add'
  253a7b1193ccf520eb76bf5e552c783f1fb9fe4d
Due: none

chore(release): scrabble-cheater@3.16.2 [skip ci]
  packages/scrabble-cheater/CHANGELOG.md
  packages/scrabble-cheater/package.json
Due: prettier

Notes added by 'git notes add'
  540867815eed1660d915c61c02c43f8a542cf309
Due: none

update yarn lockfile
  yarn.lock
Due: none

fix(electron-icon-generator): bin entry incorrect
  packages/electron-icon-generator/package.json
  packages/electron-icon-generator/src/index.ts
  yarn.lock
Due: prettier, oxlint

fix(electron-icon-generator): bin entry and import (#1240)
  packages/electron-icon-generator/package.json
  packages/electron-icon-generator/src/index.ts
  yarn.lock
Due: prettier, oxlint
