Repository ffflorian/node-packages: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint

prettier:
  run: npx prettier --write {staged_files} && git add {staged_files}

oxlint:
  run: npx oxlint --fix {staged_files} && git add {staged_files}

refactor: Remove rimraf
  packages/api-client/package.json
  packages/auto-merge/package.json
  packages/crates-updater/package.json
  packages/double-linked-list/package.json
  packages/electron-icon-generator/package.json
  packages/electron-info/package.json
  packages/exposure-keys/package.json
  packages/gh-open/package.json
  packages/https-proxy/package.json
  packages/jszip-cli/package.json
  packages/mastodon-bot-yearprogress/package.json
  packages/mock-udp/package.json
  packages/my-timezone/package.json
  packages/ntfy/package.json
  packages/ntpclient/package.json
  packages/pixelflut/package.json
  packages/publish-flat/package.json
  packages/quick-sort/package.json
  packages/scrabble-cheater/package.json
  packages/which-os/package.json
  packages/windows-shortcut-maker/package.json
  yarn.lock
Due: prettier

refactor: Remove rimraf (#1137)
  packages/api-client/package.json
  packages/auto-merge/package.json
  packages/crates-updater/package.json
  packages/double-linked-list/package.json
  packages/electron-icon-generator/package.json
  packages/electron-info/package.json
  packages/exposure-keys/package.json
  packages/gh-open/package.json
  packages/https-proxy/package.json
  packages/jszip-cli/package.json
  packages/mastodon-bot-yearprogress/package.json
  packages/mock-udp/package.json
  packages/my-timezone/package.json
  packages/ntfy/package.json
  packages/ntpclient/package.json
  packages/pixelflut/package.json
  packages/publish-flat/package.json
  packages/quick-sort/package.json
  packages/scrabble-cheater/package.json
  packages/which-os/package.json
  packages/windows-shortcut-maker/package.json
  yarn.lock
Due: prettier

fix(deps): Update sub-dependencies
  package.json
  yarn.lock
Due: prettier

fix(deps): Update sub-dependencies
  yarn.lock
Due: none

chore: Linting
  packages/double-linked-list/src/DoubleLinkedList.ts
  packages/electron-info/src/ElectronInfo.ts
  packages/electron-info/src/HTTPService.ts
  packages/jszip-cli/src/JSZipCLI.ts
  packages/my-timezone/src/MyTimezone.ts
  packages/ntpclient/src/index.test.ts
  packages/scrabble-cheater/src/index.test.ts
Due: oxlint

chore: Linting (#1138)
  packages/double-linked-list/src/DoubleLinkedList.ts
  packages/electron-info/src/ElectronInfo.ts
  packages/electron-info/src/HTTPService.ts
  packages/jszip-cli/src/JSZipCLI.ts
  packages/my-timezone/src/MyTimezone.ts
  packages/ntpclient/src/index.test.ts
  packages/scrabble-cheater/src/index.test.ts
Due: oxlint

feat(auto-merge): Add GitHub token as input option (#1136)
  packages/auto-merge/README.md
  packages/auto-merge/src/AutoMerge.ts
  packages/auto-merge/src/cli.ts
  packages/auto-merge/src/types/AutoMergeConfig.d.ts
Due: prettier, oxlint

chore: Add minimum release age for dependabot [ci skip]
  .github/dependabot.yml
Due: prettier

docs: add AGENTS.md with project conventions and knowledge
  AGENTS.md
Due: prettier

docs: clarify no AI references in branch names
  AGENTS.md
Due: prettier

docs: add AGENTS.md with project conventions and knowledge (#1154) [ci skip]
  AGENTS.md
Due: prettier

build: replace lerna with multi-semantic-release and yarn workspaces
  .github/workflows/build_test_publish.yml
  .releaserc.json
  AGENTS.md
  lerna.json
  package.json
  yarn.lock
Due: prettier

fix: add --all flag to yarn workspaces foreach commands
  AGENTS.md
  package.json
Due: prettier

test: fix vitest vi.mock hoisting warnings and my-timezone resolution
  packages/jszip-cli/src/BuildService.test.ts
  packages/my-timezone/vitest.config.ts
  packages/ntpclient/src/index.test.ts
Due: oxlint

test: exclude vitest.config.ts from my-timezone tsconfig
  packages/my-timezone/tsconfig.json
Due: prettier

test: exclude vitest.config.ts from my-timezone tsconfig.build.json
  packages/my-timezone/tsconfig.build.json
Due: prettier

Update tsconfig.json
  packages/my-timezone/tsconfig.json
Due: prettier

test: fix vitest vi.mock hoisting warnings and my-timezone resolution (#1156)
  packages/jszip-cli/src/BuildService.test.ts
  packages/my-timezone/tsconfig.build.json
  packages/my-timezone/vitest.config.ts
  packages/ntpclient/src/index.test.ts
Due: prettier, oxlint

fix: exclude root workspace from workspaces foreach to prevent infinite recursion
  package.json
Due: prettier

build: switch from multi-semantic-release to zx-bulk-release
  .github/workflows/build_test_publish.yml
  AGENTS.md
  package.json
  yarn.lock
Due: prettier

build: remove semantic-release, it is not used by zx-bulk-release
  .releaserc.json
  AGENTS.md
  package.json
  yarn.lock
Due: prettier

build: revert to multi-semantic-release with semantic-release
  .github/workflows/build_test_publish.yml
  .releaserc.json
  AGENTS.md
  package.json
  yarn.lock
Due: prettier

build: switch to dhoulb/multi-semantic-release, use * for intra-repo dep versions
  AGENTS.md
  package.json
  packages/my-timezone/package.json
  yarn.lock
Due: prettier

small improvements
  AGENTS.md
  package.json
Due: prettier

chore: replace lerna with multi-semantic-release and yarn workspaces (#1155)
  .github/workflows/build_test_publish.yml
  .releaserc.json
  AGENTS.md
  lerna.json
  package.json
  packages/my-timezone/package.json
  yarn.lock
Due: prettier

fix(my-timezone): clarify solar time semantics and fix stale API names in docs
  packages/my-timezone/README.md
  packages/my-timezone/package.json
  packages/my-timezone/src/MyTimezone.test.ts
Due: prettier, oxlint

fix(my-timezone): clarify solar time semantics and fix stale API names (#1158)
  packages/my-timezone/README.md
  packages/my-timezone/package.json
  packages/my-timezone/src/MyTimezone.test.ts
Due: prettier, oxlint

fix(ntpclient): add types condition to exports for pre-build TypeScript resolution
  packages/ntpclient/package.json
Due: prettier

fix(my-timezone): exclude vitest.config.ts from TypeScript compilation
  packages/my-timezone/tsconfig.json
Due: prettier

ci: add .npmrc with legacy-peer-deps to fix npm version ERESOLVE
  .npmrc
Due: none

ci: upload release log as artifact on failure
  .github/workflows/build_test_publish.yml
Due: prettier

ci: add .npmrc with legacy-peer-deps to fix npm version ERESOLVE (#1160)
  .github/workflows/build_test_publish.yml
  .npmrc
Due: prettier

chore(release): 1.15.2 [skip ci]
  packages/my-timezone/CHANGELOG.md
  packages/my-timezone/package.json
Due: prettier

Notes added by 'git notes add'
  b9c1c7934e3d4b3c5f692022cd11d73630f7bc3f
Due: none

chore(ntpclient): resolve TypeScript module errors without requiring a build (#1159)
  packages/my-timezone/tsconfig.json
  packages/ntpclient/package.json
Due: prettier

chore: Update yarn lockfile
  yarn.lock
Due: none

chore: Add manual dispatch option to yarn update workflow
  .github/workflows/yarn_update.yml
Due: prettier

Path conditions:
  prettier: any of: *.{json,md,yml}
  oxlint: any of: packages/**/*.ts
