Repository ffflorian/node-packages: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{json,md,yml}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    oxlint:
      glob: 'packages/**/*.ts'
      run: npx oxlint --fix {staged_files} && git add {staged_files}

chore: Use swc with ts-node
  package.json
  tsconfig.json
  yarn.lock
Due: prettier

update dependencies
  yarn.lock
Due: none

chore: Ignore @types/express > 4.x
  .github/dependabot.yml
Due: prettier

fix(pixelflut): Remove unused data variable
  packages/pixelflut/src/index.ts
Due: oxlint

chore(deps): Update lefthook to 1.10.8
  .yarnrc
  package.json
  yarn.lock
Due: prettier

chore: Disable auto-merge
  .github/auto-merge.yml
  .github/workflows/auto-merge.yml
Due: prettier

chore: Add Codeberg mirror
  .github/workflows/codeberg_mirror.yml
Due: prettier

chore: fix Codeberg mirror
  .github/workflows/codeberg_mirror.yml
Due: prettier

chore: Fix Codeberg mirror
  .github/workflows/build_test_publish.yml
  .github/workflows/codeberg_mirror.yml
Due: prettier

chore(deps): Update SvanBoxel/gitlab-mirror-and-ci-action
  .github/workflows/gitlab_mirror.yml
Due: prettier

refactor: Remove unused error variables
  packages/electron-info/src/HTTPService.test.ts
  packages/gh-open/src/RepositoryService.ts
  packages/jszip-cli/src/FileService.ts
  packages/mock-udp/src/index.test.ts
  packages/my-timezone/src/MyTimezone.ts
  packages/publish-flat/src/copyJson.ts
  packages/scrabble-cheater/src/index.test.ts
Due: oxlint

chore(deps): Pin ESLint to 8.x
  .github/dependabot.yml
Due: prettier

feat: Remove mastodon-bot-impfstatus
  README.md
  packages/mastodon-bot-impfstatus/.gitignore
  packages/mastodon-bot-impfstatus/CHANGELOG.md
  packages/mastodon-bot-impfstatus/LICENSE
  packages/mastodon-bot-impfstatus/README.md
  packages/mastodon-bot-impfstatus/config.example.json
  packages/mastodon-bot-impfstatus/package.json
  packages/mastodon-bot-impfstatus/src/Config.ts
  packages/mastodon-bot-impfstatus/src/ImpfstatusClient.ts
  packages/mastodon-bot-impfstatus/src/cli.ts
  packages/mastodon-bot-impfstatus/tsconfig.json
  yarn.lock
Due: prettier, oxlint

fix megalodon usage
  packages/mastodon-bot-yearprogress/src/YearProgressClient.ts
Due: oxlint

chore(double-linked-list): Remove documentation
  package.json
  packages/double-linked-list/README.md
  packages/double-linked-list/package.json
  packages/double-linked-list/typedoc.json
  yarn.lock
Due: prettier

chore(deps): Update nx to 20.8.2
  yarn.lock
Due: none

update yarn lockfile
  yarn.lock
Due: none

chore: Use new caching mechanism
  .github/workflows/build_test_publish.yml
Due: prettier

chore(deps): Update megalodon to 10.1.3
  packages/mastodon-bot-yearprogress/package.json
  yarn.lock
Due: prettier

chore(deps): Update crates.io to 2.3.3
  packages/crates-updater/package.json
  yarn.lock
Due: prettier

fix(mock-udp): New Node.js API
  packages/mock-udp/src/index.ts
Due: oxlint

chore: Update Node.js to 24
  .github/dependabot.yml
  .github/workflows/build_test_publish.yml
  package.json
  yarn.lock
Due: prettier

chore: Update Node.js to 24 (#941)
  .github/dependabot.yml
  .github/workflows/build_test_publish.yml
  package.json
  yarn.lock
Due: prettier

chore: Use yarn berry
  .github/workflows/build_test_publish.yml
  .yarn/releases/yarn-4.2.1.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier

chore: Use npm registry
  .npmrc
  .yarnrc.yml
Due: prettier

chore: Remove yarn setup
  .github/workflows/build_test_publish.yml
Due: prettier

feat: Remove fs-extra
  packages/electron-icon-generator/package.json
  packages/electron-icon-generator/src/index.ts
  packages/electron-info/package.json
  packages/electron-info/src/ElectronInfo.test.ts
  packages/jszip-cli/package.json
  packages/jszip-cli/src/BuildService.test.ts
  packages/jszip-cli/src/BuildService.ts
  packages/jszip-cli/src/ExtractService.ts
  packages/jszip-cli/src/FileService.ts
  packages/jszip-cli/src/JSZipCLI.test.ts
  packages/jszip-cli/src/cli.ts
  packages/publish-flat/package.json
  packages/publish-flat/src/PublishFlat.ts
  packages/publish-flat/src/copyJson.ts
  yarn.lock
Due: prettier, oxlint

chore(deps): Update vite to 7.1.5
  yarn.lock
Due: none

chore(deps): Update tmp to 3.0.2
  yarn.lock
Due: none

feat(mastodon-bot-yearprogress): Replace megalodon with masto
  packages/mastodon-bot-yearprogress/package.json
  packages/mastodon-bot-yearprogress/src/YearProgressClient.ts
  yarn.lock
Due: prettier, oxlint
