Repository ffflorian/node-packages: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{json,md,yml}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    oxlint:
      glob: 'packages/**/*.ts'
      run: npx oxlint --fix {staged_files} && git add {staged_files}

refactor: Use async lilconfig
  packages/auto-merge/src/cli.ts
Due: oxlint

fix: Update engine requirements
  packages/api-client/README.md
  packages/api-client/package.json
  packages/auto-merge/README.md
  packages/auto-merge/package.json
  packages/crates-updater/README.md
  packages/crates-updater/package.json
  packages/double-linked-list/README.md
  packages/double-linked-list/package.json
  packages/electron-icon-generator/README.md
  packages/electron-icon-generator/package.json
  packages/electron-info/README.md
  packages/electron-info/package.json
  packages/exposure-keys/package.json
  packages/gh-open/README.md
  packages/gh-open/package.json
  packages/https-proxy/README.md
  packages/https-proxy/package.json
  packages/jszip-cli/package.json
  packages/mastodon-bot-yearprogress/README.md
  packages/mastodon-bot-yearprogress/package.json
  packages/mock-udp/README.md
  packages/mock-udp/package.json
  packages/my-timezone/README.md
  packages/my-timezone/package.json
  packages/ntfy/README.md
  packages/ntfy/package.json
  packages/ntpclient/README.md
  packages/ntpclient/package.json
  packages/pixelflut/README.md
  packages/publish-flat/README.md
  packages/quick-sort/README.md
  packages/scrabble-cheater/README.md
  packages/scrabble-cheater/package.json
  packages/which-os/README.md
  packages/which-os/package.json
  packages/windows-shortcut-maker/README.md
  packages/windows-shortcut-maker/package.json
Due: prettier

refactor(electron-info): Move interfaces into its own file
  packages/electron-info/src/ElectronInfo.test.ts
  packages/electron-info/src/ElectronInfo.ts
  packages/electron-info/src/FileService.ts
  packages/electron-info/src/HTTPService.ts
  packages/electron-info/src/cli.ts
  packages/electron-info/src/index.ts
  packages/electron-info/src/interfaces.ts
Due: oxlint

feat: Back to cosmiconfig
  packages/auto-merge/package.json
  packages/auto-merge/src/cli.ts
  packages/jszip-cli/package.json
  packages/jszip-cli/src/JSZipCLI.test.ts
  packages/jszip-cli/src/JSZipCLI.ts
Due: prettier, oxlint

update yarn lockfile
  packages/jszip-cli/package.json
  yarn.lock
Due: prettier

fix(auto-merge): Use body in PUT request, fix tool name
  packages/auto-merge/src/AutoMerge.ts
Due: oxlint

chore(deps): Update yarn to 4.12.0
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
Due: prettier

fix(auto-merge): Wait for mergeable check
  packages/auto-merge/src/AutoMerge.ts
Due: oxlint

test(auto-merge): Fix test
  packages/auto-merge/src/AutoMerge.test.ts
Due: oxlint

fix(api-client): Fix automatic publishing
  packages/api-client/README.md
  packages/api-client/package.json
Due: prettier

chore: Add npmPublishAccess and defaultSemverRangePrefix to yarn config
  .yarnrc.yml
Due: prettier

refactor(api-client): Move interface into its own file
  packages/api-client/package.json
  packages/api-client/src/APIClient.ts
  packages/api-client/src/types.ts
Due: prettier, oxlint

chore: Verify GH actions lock file
  .github/workflows/actions.lock.json
  .github/workflows/build_test_publish.yml
  .github/workflows/codeberg_mirror.yml
  .github/workflows/codeql.yml
  .github/workflows/gitlab_mirror.yml
Due: prettier

use commit hashes instead
  .github/workflows/actions.lock.json
  .github/workflows/build_test_publish.yml
  .github/workflows/codeberg_mirror.yml
  .github/workflows/codeql.yml
  .github/workflows/gitlab_mirror.yml
Due: prettier

chore: Verify GH actions versions (#1066)
  .github/workflows/build_test_publish.yml
  .github/workflows/codeberg_mirror.yml
  .github/workflows/codeql.yml
  .github/workflows/gitlab_mirror.yml
Due: prettier

feat(api-client): Move URL to config in interceptor
  packages/api-client/src/APIClient.ts
  packages/api-client/src/types.ts
Due: oxlint

chore: Use OIDC for publishing
  .github/workflows/build_test_publish.yml
  .github/workflows/gitlab_mirror.yml
Due: prettier

chore: Use personal profile instead of ffflobot
  .github/workflows/build_test_publish.yml
Due: prettier

feat(api-client): Add error text
  packages/api-client/src/APIClient.ts
Due: oxlint

Potential fix for code scanning alert no. 8: Regular expression injection
  packages/publish-flat/src/PublishFlat.ts
Due: oxlint

fix(crates-updater): Correct repository URL in package.json [ci skip]
  packages/crates-updater/package.json
Due: prettier

refactor
  packages/publish-flat/src/PublishFlat.ts
Due: oxlint

fix(publish-flat): Regular expression injection (#1081)
  packages/publish-flat/src/PublishFlat.ts
Due: oxlint

chore: Sort JSON
  lerna.json
  package.json
Due: prettier

chore: Rename GitLab mirror action
  .github/workflows/gitlab_mirror.yml
Due: prettier

fix: Add readme to package.json and fix repository link
  packages/api-client/package.json
  packages/auto-merge/package.json
  packages/crates-updater/package.json
  packages/double-linked-list/package.json
  packages/electron-icon-generator/package.json
  packages/electron-info/package.json
  packages/exposure-keys/package.json
  packages/gh-open/package.json
  packages/https-proxy/package.json
  packages/jszip-cli/package.json
  packages/mastodon-bot-yearprogress/package.json
  packages/mock-udp/package.json
  packages/my-timezone/package.json
  packages/ntfy/package.json
  packages/ntpclient/package.json
  packages/pixelflut/package.json
  packages/publish-flat/package.json
  packages/quick-sort/package.json
  packages/scrabble-cheater/package.json
  packages/which-os/package.json
  packages/windows-shortcut-maker/package.json
Due: prettier

docs: Remove Node.js version requirement and fix yarn link
  package.json
  packages/api-client/README.md
  packages/auto-merge/README.md
  packages/crates-updater/README.md
  packages/double-linked-list/README.md
  packages/electron-icon-generator/README.md
  packages/electron-info/README.md
  packages/gh-open/README.md
  packages/https-proxy/README.md
  packages/mastodon-bot-yearprogress/README.md
  packages/mock-udp/README.md
  packages/my-timezone/README.md
  packages/ntfy/README.md
  packages/ntpclient/README.md
  packages/pixelflut/README.md
  packages/publish-flat/README.md
  packages/quick-sort/README.md
  packages/scrabble-cheater/README.md
  packages/which-os/README.md
  packages/windows-shortcut-maker/README.md
Due: prettier
